@charset "UTF-8";

/*-----------------------public start----------------------*/
$border-color:#d8d8d8;
$font-color999:#999;
$font-color666:#666;
$font-color333:#333;
$bg-colorf8f8f8:#f8f8f8;
$color-red:#e02d2a;

%wrap-100p{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
%wrap-95p{
  margin: 0 auto;
  width: 95.3125%;
  overflow: hidden;
}
/*实心按钮*/
%btn-s{
  height: 29px;
  line-height: 29px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
}
@media screen and (min-width: 768px){
  %btn-s{
    height: 58px;
    line-height: 58px;
    font-size: 2.2em;
  }
}
/*空心btn*/
%btn-k{
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  color: $font-color666;
  font-size: 1.4em;
  background-color: transparent;
  border: 1px solid $font-color999;
}
@media screen and (min-width: 768px){
  %btn-k{
    height: 56px;
    line-height: 56px;
    font-size: 2.2em;
  }
}
/*加减数量item*/
.select-number{
  margin: 13px 0 0 8px;
  float: left;
  width: 88px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid $border-color;
  font-size: 1.4em;
  span{
    width: 24px;
    height: 25px;
    float: left;
  }
  .left{
    border-right: 1px solid $border-color;
  }
  .right{
    border-left: 1px solid $border-color;
  }
  .select-number-input{
    float: left;
    width: 38px;
    height: 25px;
    border: 0 none;
     text-align: center;
  }
}
@media screen and (min-width: 768px){
  .select-number{
    margin: 26px 0 0 16px;
    width: 176px;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em;
    span{
      width: 48px;
      height: 50px;
    }
    .select-number-input{
      width: 76px;
      height: 50px;
    }
  }
}
/*-----------------------public end----------------------*/


* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.5;
  color: #666;
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #666;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}
button{
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]{
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;/*ios私有*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*屏蔽苹果手机样式 */
input[type="button"], input[type="submit"], input[type="reset"] {

  -webkit-appearance: none;
}
/*-----------------------footer----------------------*/
.footer{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #a7a7a7;
}
.mod-foot-nav{
  @extend %wrap-100p;
  height: 50px;
  background: $font-color333;
  border-top: 1px solid #000;
}
.foot-nav-list{
  li{
    position: relative;
    float: left;
    width: 25%;

    font-size: 1.2em;
    text-align: center;
    line-height: 7;
  }
  .foot-nav-icon{
    fill: currentColor;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    display: block;
  }
  a{
    color: #ffffff;
  }
  .flg-icon a{
    color: $color-red;
  }
}

@media screen and (min-width: 768px) {
  .footer{
    height: 80px;
    line-height: 80px;
    font-size: 2em;
  }
  .mod-foot-nav{
    height: 100px;
  }
  .foot-nav-list{
    li{
      font-size: 2em;
      line-height: 8;
    }
    .foot-nav-icon{
      fill: currentColor;
      position: absolute;
      top: 12px;
      left: 50%;
      margin-left: -26px;
      width: 52px;
      height: 52px;
      display: block;
    }
  }
}

/*-----------------------foot end----------------------*/