@charset "UTF-8";
/*
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/12/1 
 * Time: 9:53 
 * To change this template use File | Settings | File Templates. 
 */
/*-----------------------public start----------------------*/
/* line 11, ../sass/_rest.scss */
.mod-foot-nav, .body-wrap, .header, .header .head-pic, .countdown, .slider, .price, .statistics, .enter-shop, .introduce {
  margin: 0 auto;
  width: 100%;
  overflow: hidden; }

/* line 16, ../sass/_rest.scss */
.price-class, .progress, .statistics p, .statistics-number, .enter-shop a, .introduce h2, .introduce p {
  margin: 0 auto;
  width: 95.3125%;
  overflow: hidden; }

/*实心按钮*/
/* line 22, ../sass/_rest.scss */
.pay-btn {
  height: 29px;
  line-height: 29px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
  font-family: "Microsoft YaHei"; }

@media screen and (min-width: 768px) {
  /* line 32, ../sass/_rest.scss */
  .pay-btn {
    height: 58px;
    line-height: 58px;
    font-size: 2.2em; } }
/*空心btn*/
/*加减数量item*/
/* line 57, ../sass/_rest.scss */
.select-number {
  margin: 13px 0 0 8px;
  float: left;
  width: 88px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #d8d8d8;
  font-size: 1.4em; }
  /* line 66, ../sass/_rest.scss */
  .select-number span {
    width: 24px;
    height: 25px;
    float: left; }
  /* line 71, ../sass/_rest.scss */
  .select-number .left {
    border-right: 1px solid #d8d8d8; }
  /* line 74, ../sass/_rest.scss */
  .select-number .right {
    border-left: 1px solid #d8d8d8; }
  /* line 77, ../sass/_rest.scss */
  .select-number .select-number-input {
    float: left;
    width: 38px;
    height: 25px;
    border: 0 none;
    text-align: center; }

@media screen and (min-width: 768px) {
  /* line 86, ../sass/_rest.scss */
  .select-number {
    margin: 28px 0 0 16px;
    width: 178px;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em;
    border: 1px solid #d8d8d8; }
    /* line 93, ../sass/_rest.scss */
    .select-number span {
      width: 48px;
      height: 50px; }
    /* line 97, ../sass/_rest.scss */
    .select-number .select-number-input {
      width: 76px;
      height: 50px; } }
/*-----------------------public end----------------------*/
/* line 106, ../sass/_rest.scss */
* {
  margin: 0;
  padding: 0; }

/* line 111, ../sass/_rest.scss */
html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%; }

/* line 119, ../sass/_rest.scss */
body {
  line-height: 1.5;
  color: #666;
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch; }

/* line 127, ../sass/_rest.scss */
a {
  color: #666;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

/* line 134, ../sass/_rest.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 138, ../sass/_rest.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 143, ../sass/_rest.scss */
h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal; }

/* line 148, ../sass/_rest.scss */
img {
  width: 100%;
  max-width: 100%; }

/* line 153, ../sass/_rest.scss */
li {
  list-style-type: none; }

/* line 156, ../sass/_rest.scss */
button {
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* line 162, ../sass/_rest.scss */
input[type="text"] {
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;
  /*ios私有*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*屏蔽苹果手机样式 */
/* line 171, ../sass/_rest.scss */
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

/*-----------------------footer----------------------*/
/* line 176, ../sass/_rest.scss */
.footer {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #a7a7a7; }

/* line 183, ../sass/_rest.scss */
.mod-foot-nav {
  height: 50px;
  background: #333333;
  border-top: 1px solid #000; }

/* line 190, ../sass/_rest.scss */
.foot-nav-list li {
  position: relative;
  float: left;
  width: 25%;
  font-size: 1.2em;
  text-align: center;
  line-height: 7; }
/* line 199, ../sass/_rest.scss */
.foot-nav-list .foot-nav-icon {
  fill: currentColor;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 26px;
  display: block; }
/* line 209, ../sass/_rest.scss */
.foot-nav-list a {
  color: #ffffff; }
/* line 212, ../sass/_rest.scss */
.foot-nav-list .flg-icon a {
  color: #e02d2a; }

@media screen and (min-width: 768px) {
  /* line 218, ../sass/_rest.scss */
  .footer {
    height: 80px;
    line-height: 80px;
    font-size: 2em; }

  /* line 223, ../sass/_rest.scss */
  .mod-foot-nav {
    height: 100px; }

  /* line 227, ../sass/_rest.scss */
  .foot-nav-list li {
    font-size: 2em;
    line-height: 8; }
  /* line 231, ../sass/_rest.scss */
  .foot-nav-list .foot-nav-icon {
    fill: currentColor;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -26px;
    width: 52px;
    height: 52px;
    display: block; } }
/*-----------------------foot end----------------------*/
/*-----------------------header start----------------------*/
/* line 14, ../sass/index.scss */
.body-wrap {
  padding-bottom: 50px;
  background: #f5f5f5; }

@media screen and (min-width: 768px) {
  /* line 20, ../sass/index.scss */
  .body-wrap {
    padding-bottom: 100px; } }
/* line 24, ../sass/index.scss */
.header {
  position: relative; }

/* line 31, ../sass/index.scss */
.countdown {
  margin-bottom: 5px; }

/* line 35, ../sass/index.scss */
.countdown-tt {
  margin: 0 auto;
  width: 46%; }
  /* line 38, ../sass/index.scss */
  .countdown-tt h2 {
    position: relative;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 1.4em;
    color: #e02d2a; }
    /* line 45, ../sass/index.scss */
    .countdown-tt h2:after {
      content: "";
      width: 65px;
      height: 1px;
      background: #e02d2a;
      position: absolute;
      top: 11px;
      right: -54px; }
    /* line 54, ../sass/index.scss */
    .countdown-tt h2:before {
      content: "";
      width: 70px;
      height: 1px;
      background: #e02d2a;
      position: absolute;
      top: 11px;
      left: -60px; }

/* line 66, ../sass/index.scss */
.countdown-hui {
  margin: 0 auto;
  width: 80%; }
  /* line 69, ../sass/index.scss */
  .countdown-hui h2 {
    position: relative;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 1.4em;
    color: #000000; }
    /* line 76, ../sass/index.scss */
    .countdown-hui h2:after {
      content: "";
      width: 30px;
      height: 1px;
      background: #000000;
      position: absolute;
      top: 11px;
      right: -20px; }
    /* line 85, ../sass/index.scss */
    .countdown-hui h2:before {
      content: "";
      width: 30px;
      height: 1px;
      background: #000000;
      position: absolute;
      top: 11px;
      left: -20px; }

/* line 96, ../sass/index.scss */
.countdown-con {
  height: 28px; }
  /* line 98, ../sass/index.scss */
  .countdown-con .clock {
    margin: 0 auto;
    width: 250px;
    overflow: hidden; }
    /* line 103, ../sass/index.scss */
    .countdown-con .clock li {
      float: left;
      height: 28px; }
    /* line 107, ../sass/index.scss */
    .countdown-con .clock .date {
      width: 40px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      text-shadow: 6px 6px 6px #860404;
      text-indent: 4px;
      letter-spacing: 7px;
      font-size: 2.2em;
      background: white url('../img/clock-bg.png?1417772527') 0 0 no-repeat;
      -webkit-background-size: 40px auto;
      background-size: 40px auto; }
    /* line 120, ../sass/index.scss */
    .countdown-con .clock .date-wz {
      padding: 0 2px;
      font-size: 1.2em;
      color: #e02d2a;
      line-height: 40px; }

/* line 128, ../sass/index.scss */
.clock_hui {
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
  -ms-filter: grayscale(95%);
  -o-filter: grayscale(95%);
  filter: grayscale(95%);
  filter: gray; }

@media screen and (min-width: 768px) {
  /* line 139, ../sass/index.scss */
  .countdown-tt {
    margin: 0 auto;
    width: 46%; }
    /* line 142, ../sass/index.scss */
    .countdown-tt h2 {
      height: 44px;
      line-height: 44px;
      font-size: 2.2em; }
      /* line 146, ../sass/index.scss */
      .countdown-tt h2:after {
        content: "";
        width: 150px;
        top: 20px;
        right: -90px; }
      /* line 152, ../sass/index.scss */
      .countdown-tt h2:before {
        width: 150px;
        top: 20px;
        left: -90px; }

  /* line 159, ../sass/index.scss */
  .countdown-hui {
    margin: 0 auto;
    width: 46%; }
    /* line 162, ../sass/index.scss */
    .countdown-hui h2 {
      height: 44px;
      line-height: 44px;
      font-size: 2.2em; }
      /* line 166, ../sass/index.scss */
      .countdown-hui h2:after {
        content: "";
        width: 150px;
        top: 20px;
        right: -162px; }
      /* line 172, ../sass/index.scss */
      .countdown-hui h2:before {
        width: 150px;
        top: 20px;
        left: -162px; }

  /* line 179, ../sass/index.scss */
  .countdown-con {
    height: 56px; }
    /* line 181, ../sass/index.scss */
    .countdown-con .clock {
      width: 490px; }
      /* line 184, ../sass/index.scss */
      .countdown-con .clock li {
        height: 56px; }
      /* line 187, ../sass/index.scss */
      .countdown-con .clock .date {
        width: 80px;
        line-height: 56px;
        text-align: center;
        color: #ffffff;
        text-indent: 8px;
        letter-spacing: 18px;
        font-size: 4em;
        background: white url('../img/clock-bg.png?1417772527') 0 0 no-repeat;
        -webkit-background-size: 80px auto;
        background-size: 80px auto; }
      /* line 199, ../sass/index.scss */
      .countdown-con .clock .date-wz {
        padding: 0 6px;
        font-size: 2em;
        color: #e02d2a;
        line-height: 80px; } }
/*-----------------------header end----------------------*/
/*-----------------------slider start----------------------*/
/* line 211, ../sass/index.scss */
.slider {
  margin-top: 7px;
  background: #ffffff; }

/* line 217, ../sass/index.scss */
.slider-tt {
  height: 37px;
  line-height: 37px;
  font-size: 1.4em;
  text-align: center; }
  /* line 222, ../sass/index.scss */
  .slider-tt em {
    color: #e02d2a; }

/* line 229, ../sass/index.scss */
.imgbox {
  position: relative;
  width: inherit;
  overflow: hidden;
  margin: 0 auto;
  height: auto;
  max-width: 768px; }

/* line 238, ../sass/index.scss */
.imgbox ul {
  width: 100%; }

/* line 242, ../sass/index.scss */
.imgbox ul li {
  float: left;
  text-align: center;
  height: auto; }

/* line 248, ../sass/index.scss */
.imgbox ul li img {
  width: 780px;
  height: auto; }

/* line 253, ../sass/index.scss */
.slider-info {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.6); }
  /* line 261, ../sass/index.scss */
  .slider-info em {
    color: #ffffff;
    font-weight: bold;
    padding-left: 18px; }
  /* line 266, ../sass/index.scss */
  .slider-info span {
    margin-right: 4px;
    margin-top: 4px;
    float: right;
    width: 16px;
    height: 16px; }
  /* line 273, ../sass/index.scss */
  .slider-info i {
    margin-right: 16px;
    float: right;
    color: #ffffff; }

@media screen and (min-width: 768px) {
  /* line 280, ../sass/index.scss */
  .slider {
    margin-top: 14px; }

  /* line 283, ../sass/index.scss */
  .slider-tt {
    height: 74px;
    line-height: 74px;
    font-size: 2.4em; }

  /* line 289, ../sass/index.scss */
  .slider-info {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 2.2em;
    background: rgba(0, 0, 0, 0.6); }
    /* line 297, ../sass/index.scss */
    .slider-info em {
      padding-left: 36px;
      color: #ffffff;
      font-weight: bold; }
    /* line 302, ../sass/index.scss */
    .slider-info span {
      margin-right: 8px;
      margin-top: 8px;
      float: right;
      width: 32px;
      height: 32px; }
    /* line 309, ../sass/index.scss */
    .slider-info i {
      margin-right: 32px;
      float: right;
      color: #ffffff; } }
/*-----------------------slider end----------------------*/
/*-----------------------price start----------------------*/
/* line 320, ../sass/index.scss */
.price {
  margin-top: 5px;
  background: #ffffff;
  border-top: 1px solid #d8d8d8; }

/* line 326, ../sass/index.scss */
.price-class {
  padding: 8px 0;
  border-bottom: 1px solid #d8d8d8; }
  /* line 330, ../sass/index.scss */
  .price-class li {
    width: 32.8%;
    float: left;
    text-align: center; }
    /* line 334, ../sass/index.scss */
    .price-class li:nth-of-type(2) {
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8; }
  /* line 339, ../sass/index.scss */
  .price-class p {
    font-size: 1.4em; }
  /* line 342, ../sass/index.scss */
  .price-class .c333 {
    color: #333333; }
  /* line 345, ../sass/index.scss */
  .price-class .cf57520 {
    color: #f57520; }
  /* line 348, ../sass/index.scss */
  .price-class .cred {
    color: #e02d2a; }

/* line 352, ../sass/index.scss */
.level {
  margin: 0 auto;
  width: 95%;
  padding-top: 13px;
  height: 24px; }
  /* line 357, ../sass/index.scss */
  .level li {
    position: relative;
    float: left;
    width: 14.28%; }
  /* line 362, ../sass/index.scss */
  .level span {
    position: absolute;
    top: 3px;
    left: 12px;
    width: 10px;
    height: 22px;
    font-size: 1em;
    color: #ffffff;
    display: block;
    line-height: 12px;
    text-align: center;
    font-weight: bold; }
  /* line 375, ../sass/index.scss */
  .level .level-left {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 40px; }
  /* line 380, ../sass/index.scss */
  .level .level-right {
    float: right;
    font-weight: bold;
    font-size: 1.4em;
    color: #000000;
    line-height: 40px; }
  /* line 387, ../sass/index.scss */
  .level .icon-bq {
    width: 35px;
    height: 34px; }
  /* line 392, ../sass/index.scss */
  .level .active-icon .icon-bq {
    fill: #e02d2a; }

/* line 397, ../sass/index.scss */
.progress {
  height: 6px;
  background: #282f32; }
  /* line 401, ../sass/index.scss */
  .progress li {
    width: 0%;
    height: 6px;
    background: #e02d2a;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s; }

/* line 412, ../sass/index.scss */
.level-info {
  position: relative;
  margin: 12px auto 14px auto;
  padding-bottom: 4px;
  width: 70%;
  height: 20px;
  line-height: 20px;
  border: 1px solid #d8d8d8;
  color: #ffffff;
  background-color: #e02d2a;
  text-align: center;
  border-radius: 4px;
  font-size: 1.2em; }
  /* line 425, ../sass/index.scss */
  .level-info:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -17px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom: 9px solid #e02d2a; }
  /* line 437, ../sass/index.scss */
  .level-info:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -18px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom: 9px solid #d8d8d8; }
  /* line 449, ../sass/index.scss */
  .level-info em {
    color: #f4f712;
    font-size: 1.4em; }

@media screen and (min-width: 768px) {
  /* line 455, ../sass/index.scss */
  .price {
    margin-top: 10px; }

  /* line 458, ../sass/index.scss */
  .price-class {
    padding: 16px 0; }
    /* line 460, ../sass/index.scss */
    .price-class p {
      font-size: 2.2em; }

  /* line 464, ../sass/index.scss */
  .level {
    padding-top: 26px;
    height: 48px; }
    /* line 468, ../sass/index.scss */
    .level span {
      position: absolute;
      top: 6px;
      left: 24px;
      width: 20px;
      height: 44px;
      font-size: 2em;
      color: #ffffff;
      line-height: 22px; }
    /* line 478, ../sass/index.scss */
    .level .level-left {
      font-size: 2.2em;
      line-height: 80px; }
    /* line 482, ../sass/index.scss */
    .level .level-right {
      font-size: 2.2em;
      line-height: 80px; }
    /* line 486, ../sass/index.scss */
    .level .icon-bq {
      width: 70px;
      height: 68px; }

  /* line 491, ../sass/index.scss */
  .progress {
    height: 12px; }
    /* line 493, ../sass/index.scss */
    .progress li {
      width: 14.28%;
      height: 12px; }

  /* line 498, ../sass/index.scss */
  .level-info {
    position: relative;
    margin: 24px auto 28px auto;
    padding-bottom: 8px;
    height: 40px;
    line-height: 44px;
    font-size: 2.2em; }
    /* line 505, ../sass/index.scss */
    .level-info:before {
      content: "";
      position: absolute;
      z-index: 2;
      top: -34px;
      left: 50%;
      margin-left: -18px;
      width: 0;
      height: 0;
      border: 18px solid transparent;
      border-bottom: 18px solid #e02d2a; }
    /* line 517, ../sass/index.scss */
    .level-info:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -36px;
      left: 50%;
      margin-left: -18px;
      width: 0;
      height: 0;
      border: 18px solid transparent;
      border-bottom: 18px solid #d8d8d8; }
    /* line 529, ../sass/index.scss */
    .level-info em {
      color: #f4f712;
      font-size: 1.4em; } }
/*-----------------------price end----------------------*/
/*-----------------------number start----------------------*/
/* line 539, ../sass/index.scss */
.statistics {
  margin-top: 5px;
  background: #ffffff;
  border-top: 1px solid #d8d8d8; }
  /* line 544, ../sass/index.scss */
  .statistics p {
    height: 54px;
    line-height: 54px;
    font-size: 1.4em; }

/* line 551, ../sass/index.scss */
.statistics-number {
  height: 54px;
  border-bottom: 1px solid #d8d8d8; }
  /* line 555, ../sass/index.scss */
  .statistics-number .statistics-number-left {
    float: left;
    font-size: 1.4em;
    line-height: 54px; }
  /* line 560, ../sass/index.scss */
  .statistics-number .statistics-number-right {
    float: right;
    font-size: 1.4em;
    line-height: 54px; }

@media screen and (min-width: 768px) {
  /* line 568, ../sass/index.scss */
  .statistics {
    margin-top: 10px; }
    /* line 570, ../sass/index.scss */
    .statistics p {
      height: 108px;
      line-height: 108px;
      font-size: 2.2em; }
      /* line 574, ../sass/index.scss */
      .statistics p input[type="checkbox"] {
        width: 16px;
        height: 16px; }

  /* line 580, ../sass/index.scss */
  .statistics-number {
    height: 108px; }
    /* line 582, ../sass/index.scss */
    .statistics-number .statistics-number-left {
      font-size: 2.2em;
      line-height: 108px; }
    /* line 586, ../sass/index.scss */
    .statistics-number .statistics-number-right {
      font-size: 2.2em;
      line-height: 108px; } }
/*-----------------------number end----------------------*/
/*-----------------------enter-shop start----------------------*/
/* line 595, ../sass/index.scss */
.enter-shop {
  margin-top: 5px;
  background: #ffffff;
  height: 40px;
  line-height: 40px;
  font-size: 1.4em; }
  /* line 602, ../sass/index.scss */
  .enter-shop a {
    display: block; }
  /* line 606, ../sass/index.scss */
  .enter-shop .icon-iconfont-iconfontshop {
    margin-top: 11px;
    margin-right: 8px;
    float: left;
    width: 16px;
    height: 16px;
    fill: #666666; }
  /* line 614, ../sass/index.scss */
  .enter-shop span {
    float: right;
    color: #e02d2a; }
  /* line 618, ../sass/index.scss */
  .enter-shop .icon-iconfont-right {
    margin-top: 8px;
    float: right;
    width: 22px;
    height: 22px;
    fill: #e02d2a; }

@media screen and (min-width: 768px) {
  /* line 628, ../sass/index.scss */
  .enter-shop {
    margin-top: 10px;
    height: 80px;
    line-height: 80px;
    font-size: 2.2em; }
    /* line 634, ../sass/index.scss */
    .enter-shop .icon-iconfont-iconfontshop {
      margin-top: 22px;
      margin-right: 16px;
      width: 32px;
      height: 32px; }
    /* line 641, ../sass/index.scss */
    .enter-shop .icon-iconfont-right {
      margin-top: 16px;
      float: right;
      width: 44px;
      height: 44px; } }
/*-----------------------enter-shop end----------------------*/
/*-----------------------introduce start----------------------*/
/* line 652, ../sass/index.scss */
.introduce {
  border-top: 1px solid #d8d8d8;
  background: #ffffff; }
  /* line 656, ../sass/index.scss */
  .introduce h2 {
    height: 30px;
    line-height: 30px;
    font-size: 1.6em;
    text-indent: 2em;
    border-bottom: 1px solid #d8d8d8; }
  /* line 664, ../sass/index.scss */
  .introduce p {
    padding: 5px;
    font-size: 1.4em; }

@media screen and (min-width: 768px) {
  /* line 673, ../sass/index.scss */
  .introduce h2 {
    height: 60px;
    line-height: 60px;
    font-size: 2.4em;
    text-indent: 2em; }
  /* line 679, ../sass/index.scss */
  .introduce p {
    padding: 10px;
    font-size: 2.2em; } }
/*-----------------------introduce end----------------------*/
/*-----------------------pay start----------------------*/
/* line 688, ../sass/index.scss */
.pay {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  background: #ffffff; }
  /* line 697, ../sass/index.scss */
  .pay span {
    padding-left: 25px;
    font-size: 1.6em;
    color: #737373; }
  /* line 702, ../sass/index.scss */
  .pay em {
    font-size: 1.4em;
    color: #e02d2a; }

/* line 707, ../sass/index.scss */
.pay-btn {
  margin-top: 8px;
  margin-right: 25px;
  float: right;
  background: #e02d2a;
  width: 100px; }

@media screen and (min-width: 768px) {
  /* line 717, ../sass/index.scss */
  .pay {
    padding-left: 50px;
    height: 100px;
    line-height: 100px; }
    /* line 721, ../sass/index.scss */
    .pay span {
      font-size: 3.2em; }
    /* line 724, ../sass/index.scss */
    .pay em {
      font-size: 2.8em; }

  /* line 728, ../sass/index.scss */
  .pay-btn {
    margin-top: 16px;
    margin-right: 50px;
    width: 200px; } }
/*-----------------------pay end----------------------*/
/*-----------------------aside-item start----------------------*/
/* line 737, ../sass/index.scss */
.aside-item {
  position: fixed;
  right: 0;
  top: 50%;
  width: 32px; }
  /* line 742, ../sass/index.scss */
  .aside-item li {
    margin-bottom: 2px;
    width: 32px;
    height: 32px; }
    /* line 747, ../sass/index.scss */
    .aside-item li:nth-of-type(1) {
      background: rgba(0, 0, 0, 0.6) url(../img/iconfont-93.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto; }
    /* line 752, ../sass/index.scss */
    .aside-item li:nth-of-type(2) {
      background: rgba(0, 0, 0, 0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto; }

@media screen and (min-width: 768px) {
  /* line 761, ../sass/index.scss */
  .aside-item {
    position: fixed;
    right: 0;
    top: 50%;
    width: 64px; }
    /* line 766, ../sass/index.scss */
    .aside-item li {
      margin-bottom: 2px;
      width: 64px;
      height: 64px; }
      /* line 771, ../sass/index.scss */
      .aside-item li:nth-of-type(1) {
        background: rgba(0, 0, 0, 0.6) url(../img/iconfont-93.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto; }
      /* line 776, ../sass/index.scss */
      .aside-item li:nth-of-type(2) {
        background: rgba(0, 0, 0, 0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto; } }
/*-----------------------aside-item end----------------------*/
/* line 787, ../sass/index.scss */
.register-item .input-wrap {
  margin-bottom: 12px;
  margin-top: 15px; }
/* line 791, ../sass/index.scss */
.register-item h2 {
  padding: 22px 0;
  text-align: center;
  font-size: 1.8em; }
/* line 796, ../sass/index.scss */
.register-item p {
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 1.6em; }

/* line 802, ../sass/index.scss */
.register-btn {
  height: 68px;
  font-size: 2.2em;
  margin-top: 14px;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4em;
  margin-top: 14px;
  background-color: #f6a424; }

/*---------------alert----------------------*/
/* line 817, ../sass/index.scss */
.c-float-fingPop {
  background-color: rgba(23, 23, 23, 0.9); }

/* line 821, ../sass/index.scss */
.c-float-fingPop .innerC {
  width: 180px;
  margin: 0 auto;
  padding-top: 5px; }

/* line 827, ../sass/index.scss */
.c-float-fingPop .innerC .fingerImg {
  display: inline-block;
  width: 63px;
  height: 70px;
  background-image: url("http://a.tbcdn.cn/mw/base/styles/component/float/images/fingers.png"); }

/* line 834, ../sass/index.scss */
.c-float-fingPop .innerC .ftxt {
  display: inline-block;
  width: 110px;
  padding: 20px 0 10px 0;
  vertical-align: top;
  color: white; }

/* line 842, ../sass/index.scss */
.c-float-shakePop {
  background-color: rgba(23, 23, 23, 0.9);
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: white; }

/* line 850, ../sass/index.scss */
.c-float-impWarn {
  background-color: rgba(215, 23, 23, 0.9);
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: white; }

/* line 858, ../sass/index.scss */
.c-float-modePop {
  text-align: center;
  background-color: rgba(23, 23, 23, 0.9); }

/* line 863, ../sass/index.scss */
.c-float-modePop .warnMsg {
  padding: 10px 10px 10px 10px;
  color: white; }

/* line 868, ../sass/index.scss */
.c-float-modePop .doBtn {
  width: 170px;
  margin: 0 auto; }

/* line 873, ../sass/index.scss */
.c-float-modePop button {
  padding: 6px 9px 6px 9px;
  color: #949494;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #2e2e2e));
  border: 0;
  border-radius: 2px; }

/* line 881, ../sass/index.scss */
.c-float-popWrap {
  width: 230px;
  border-radius: 2px;
  z-index: 9999;
  position: absolute;
  overflow: hidden; }

/* line 889, ../sass/index.scss */
.c-float-popWrap .c-float-modePop {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 2px;
  padding: 15px; }

/* line 895, ../sass/index.scss */
.c-float-popWrap .c-float-modePop .warnMsg {
  padding: 0;
  font-size: 14px; }

/* line 900, ../sass/index.scss */
.c-float-popWrap .c-float-modePop .content {
  margin-top: 10px; }

/* line 904, ../sass/index.scss */
.c-float-popWrap .c-float-modePop .doBtn {
  width: 190px;
  margin-top: 10px; }

/* line 909, ../sass/index.scss */
.c-float-popWrap .c-float-modePop button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #444;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #999999));
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin: 10px 5px 0; }

/* line 922, ../sass/index.scss */
.c-float-popWrap.hide {
  display: none;
  -webkit-box-shadow: none; }

/* line 927, ../sass/index.scss */
.c-float-popWrap.show {
  display: block;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3); }

/* line 932, ../sass/index.scss */
.c-float-popWrap.msgMode .c-float-modePop .content, .c-float-popWrap.msgMode .c-float-modePop .doBtn {
  display: none; }

/* line 936, ../sass/index.scss */
.c-float-popWrap.alertMode .c-float-modePop .content {
  display: none; }

/* line 940, ../sass/index.scss */
.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
  display: none; }

/* line 944, ../sass/index.scss */
.c-float-popWrap.confirmMode .c-float-modePop .content, .c-float-popWrap.confirmMode .c-float-modePop .doBtn {
  display: block; }

/*---------------alert-end----------------------*/
/*----------------loading------------------------------*/
@-webkit-keyframes loading {
  /* line 950, ../sass/index.scss */
  0% {
    -webkit-transform: rotate(0deg); }

  /* line 953, ../sass/index.scss */
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes loading {
  /* line 959, ../sass/index.scss */
  0% {
    -moz-transform: rotate(0deg); }

  /* line 962, ../sass/index.scss */
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes loading {
  /* line 968, ../sass/index.scss */
  0% {
    -o-transform: rotate(0deg); }

  /* line 971, ../sass/index.scss */
  100% {
    -o-transform: rotate(360deg); } }

@-ms-keyframes loading {
  /* line 977, ../sass/index.scss */
  0% {
    -ms-transform: rotate(0deg); }

  /* line 980, ../sass/index.scss */
  100% {
    -ms-transform: rotate(360deg); } }

@keyframes loading {
  /* line 986, ../sass/index.scss */
  0% {
    transform: rotate(0deg); }

  /* line 989, ../sass/index.scss */
  100% {
    transform: rotate(360deg); } }

/* line 993, ../sass/index.scss */
.mp_loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin: -60px 0 0 -120px;
  width: 240px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform-style: preserve-3d; }

/* line 1005, ../sass/index.scss */
.mp_loading_clip {
  margin: 14px 20px 0 20px;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-animation: loading 1.2s linear infinite;
  -moz-animation: loading 1.2s linear infinite;
  -o-animation: loading 1.2s linear infinite;
  -ms-animation: loading 1.2s linear infinite;
  animation: loading 1.2s linear infinite; }

/* line 1018, ../sass/index.scss */
.mp_loading_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  overflow: hidden;
  clip: rect(0px, 20px, 40px, 0);
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  -webkit-mask: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0))); }

/* line 1032, ../sass/index.scss */
.mp_loading_txt {
  font-size: 28px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -30px;
  text-align: center;
  color: white; }

/* line 1045, ../sass/index.scss */
.loading-wz {
  font-size: 16px;
  line-height: 60px;
  color: #ffffff; }
