@charset "UTF-8";
/**
 * Created with IntelliJ IDEA.
 * User: yimi
 * Date: 2014/12/1
 * Time: 9:28
 * To change this template use File | Settings | File Templates.
 */

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei', 微软雅黑, Arial, Lucida Grande, Tahoma, sans-serif;

}
a{
    text-decoration: none;}

li{list-style:none;
    padding: 0;
    margin: 0;}
ul{
    padding: 0;
    margin: 0;}
img{
    width: 100%;
    margin: 0;
    padding: 0;}
a{
    color: #ffffff;}
.min
{
    width: 100%;}

.top{

    overflow: hidden;
    width: 98%;
    margin: 0  auto;
    margin-top: 10px;

}
.img_long{
    background: url(../img/img_0.jpg) #fff no-repeat center;
    background-size: 100%;
    width: 70px;
    height: 70px;
    border: 2px #ffffff solid;
    border-radius: 60px;
    -o-border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;

}
.charBox{
    float: left;
    width: 70%;
    }
.charBox_1{float: left;
    width: 50%;}
.char{
    float: left;
    width: 80%;

}
.char span{width:170px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#494949;
    font-size: 18px;
    font-weight: 700;
    float: left;
    line-height: 40px;}
.char_apply{
    float: left;
    margin-top: 5px;
    padding: 0;}
.char_apply li{
    float: left;
    margin-right: 5px;

}
.char_apply_1 a{
    font-size: 14px;
    line-height: 16px;
    background-color: #f6b436;
    color: #ffffff;
    padding: 4px;
    font-weight: 600px;
    -webkit-box-shadow:0px 1px 3px #d1d1d1;
    -moz-box-shadow:0px 1px 3px #d1d1d1;
    box-shadow:0px 1px 3px #d1d1d1;}
.char_apply_1 a:hover{
    font-size: 14px;
    line-height: 16px;
    background-color: #f38b00;
    color: #ffffff;
    padding: 4px;
    font-weight: 600px;
    -webkit-box-shadow:0px 1px 3px #d1d1d1;
    -moz-box-shadow:0px 1px 3px #d1d1d1;
    box-shadow:0px 1px 3px #d1d1d1;}
.char_apply_2 a{
    font-size: 14px;
    line-height: 16px;
    background-color: #f38b00;
    color: #ffffff;
    padding: 4px;
    font-weight: 600px;
    -webkit-box-shadow:0px 1px 3px #d1d1d1;
    -moz-box-shadow:0px 1px 3px #d1d1d1;
    box-shadow:0px 1px 3px #d1d1d1;}
.per_imgBox{position: relative;
    margin: 0;
    padding: 0;}
.per_imgBox img{
    width: 100%;
    margin-top: 10px;
    }
.per_img_bottom{
    width: 100%;
    position: absolute;
    bottom: 4px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    font-size: 14px;

}
.per_img_bottom li{
    float:right;
    color:#fff;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
}
.per_img_bottom li:first-child{
    float: left;}
.per_kingBox{
    margin: 0 auto;
    width: 96%;
    margin-top: 20px;

}
.per_king{
    overflow: hidden;
    border-bottom: solid 1px #dfdfdf;
    border-top: 1px solid #8f8f8f;
}
.per_king li{

   }
.per_king:first-child{
    border-top: none;}
.per_king_img{
    background: url(../img/img_0.jpg) #fff no-repeat center;
    background-size: 100%;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    -o-border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    float: left;
    margin:10px 5px;


}
.per_king_char{
    color: #494949;
    font-size: 12px;
    margin-top: 15px;
    float: left;
    width:70%;
}
.per_king_time{
    float: left;
    color: #494949;
    font-size:12px;  }


/*-----------------------排行榜----------------------*/
.img_longBox{
    float: left;}
.img_long_1{ background: url(../img/img_king.png) #fff no-repeat center;
    background-size: 100%;
    width: 90px;
    height: 90px;
    border: 2px #ffffff solid;
    border-radius: 60px;
    -o-border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    float: left;
    margin-left:5px;
    margin-right:5px;}

.img_long_char {
    margin-left: 10px;
    margin-right: 10px;
    width:100%;
    text-align:left;
    color:#494949;
    font-weight: 700;
    float: left;font-size: 14px}
.char_1{
    float: left;
    width: 100%;}

.char_2{
    float: left;
    color:#494949;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    width: 100%;}
.char_2 span{
    color: #f49a24;}



/*选项卡*/
.top_slide_wrap{
    width: 98%;
    margin: 0 auto;}
#Tab1{
    width:98%;
    margin:0px;
    padding:0px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 5px;}
/*菜单class*/
.Menubox {
    width:100%;
    height:28px;
    line-height:28px;
}
.Menubox ul{
    margin:0px;
    padding:0px;
}
.Menubox li{
    float:left;
    display:block;
    cursor:pointer;
    width:32.33333333333%;
    text-align:center;
    font-weight:bold;
    margin-left:1%;
    font-size: 14px;
    background:#5a5c61;
    color:#fff;
    height:35px;
    line-height:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid #ffffff;

}
.Menubox .menubox_1{
    padding:0px;
    color:#5a5c61;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:#e5e5e5;
    height: 35px;
    border-bottom: 5px solid #e5e5e5;}
.Menubox li:first-child{
    margin-left: 0%;
}
.Menubox li.hover{
    padding:0px;
    color:#5a5c61;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:#e5e5e5;
    height: 35px;
    border-bottom: 5px solid #e5e5e5;
}
.Contentbox{
    clear:both;
    margin-top:0px;
    border-top:none;
    text-align:center;
    padding-top:8px;
    background: #e5e5e5;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.con_one_1_0{
    width: 85%;
    margin: 0 auto;
    background:#ffffff;
    -webkit-box-shadow:0 1px 1px #747474;
    -moz-box-shadow:  0 1px 1px #747474;
    box-shadow:  0 1px 1px #747474;
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: #494949;
    font-weight: 700;}
.stripBox{
    width: 100%;
    margin: 0 auto;
    position: relative;}
.strip{ background:url(../img/strip.png ) repeat-x ; height: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
   }
.strip_char{
    position: absolute;
    top:-10px;
    left:25%;
    right:25%;
    width: 50%;
}
.strip_char a{
    width: 100%;
    }


/*列表*/
.surfaceBox{width:96%; margin:0 auto; border-bottom:solid 1px #8f8f8f;}
.surface{overflow: hidden;
    border-bottom: solid 1px #dfdfdf;
    margin-top:10px;
    }

.attention{float:left; color:#494949;font-size:14px; margin-left: 1%;
    line-height: 60px;}
.money{ float: right;
    color: #494949;line-height: 60px;}
.attention div{width:110px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; color:#494949;}
.count{color:#494949; font-size:23px; float:left; font-weight:bolder; width:50px; text-align:center;
    line-height: 50px; height: 50px;
}
.count_1{color:#494949; font-size:23px; float:left; font-weight:bolder; width:60px; text-align:center;
    line-height: 50px; height: 50px;}
.count_1 img{width:50px; margin-left: 5px;}
.count img {border-radius:60px;-o-border-radius:60px;-moz-border-radius:60px;-webkit-border-radius:60px;}

/*-----------------------我的排行榜----------------------*/
.my_king{
    width: 98%;
    margin: 0 auto;
}
.my_king ul{border-bottom: solid 1px #dfdfdf;
    border-top: 1px solid #8f8f8f;
    overflow: hidden;}
.my_king ul:first-child{border-top:none;
    margin-top: 10px;}
.my_king li{
    line-height: 45px;
    color: #494949;
    float: left;
    width: 35%;
    text-align: center;
}
.my_king li:first-child{
    width: 65%;}
/*-----------------报名页----------------------------*/
.applyBox{

    padding: 0;
width: 40%;
    margin: 0 auto;
}

.applyBox a img{
    width: 40%;

    position: fixed;
    bottom: 25px;
}
@media screen and (min-width: 320px) {

    .strip_char{
        position: absolute;
        top:-15px;
        left:25%;
        right:25%;
        width: 50%;
    }

}
@media screen and (min-width: 460px) {

    .strip_char{
        position: absolute;
        top:-25px;
        left:25%;
        right:25%;
        width: 50%;
    }

}
@media screen and (min-width: 640px) {
    .min{
        width: 640px;
        margin: 0 auto;}
    .strip_char{
        position: absolute;
        top:-15px;
        left:35%;
        right:35%;
        width: 30%;
    }

}


