/** 
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/10/11 
 * Time: 10:13 
 * To change this template use File | Settings | File Templates. 
 */

@charset "utf-8";
$font-normal:#999;
$bg-normal:#181a1d;
* {
  margin: 0;
  padding: 0;
}

html {
  font-family:  "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  color: $font-normal;
  height: 100%;
  background: $bg-normal;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $font-normal;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}