/** 
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/10/11 
 * Time: 10:13 
 * To change this template use File | Settings | File Templates. 
 */

@charset "utf-8";
$font-normal-999:#999;
$font-color-333:#333;
$font-color-666:#666;
$bg-normal:#fff;
$bd-color-f3:#f3f3f3;
* {
  margin: 0;
  padding: 0;
}
%wrap{
  width: 100%;
  overflow: hidden;
}
%show-wrap{
  width: 93.75%;
  overflow: hidden;
}
%full-height{
  height: 100%;
  background: #f6f7f7;
  overflow: hidden;
}
@mixin item-wrap-mod ($bg, $line){
  position: relative;
  background: $bg;
  &:after{
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background: $line;
  }
  &:before{
    content: "";
    position: absolute;
    top: 1px;
    width: 100%;
    height: 1px;
    background: $line;
  }
}

html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.5;
  color: $font-normal-999;
  height: 100%;
  background: $bg-normal;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $font-normal-999;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}

/*index.html*/
.box-wrap{
  @extend %wrap;
}
.head{
  height: 95px;
  background: #f6a424;
  overflow: hidden;
}
.head-left{
  float: left;
  width: 30%;
  height: 95px;
}
.head-right{
  position: relative;
  float: right;
  width: 70%;
  height: 95px;
    .head-right-set{
      position: absolute;
      top: 9px;
      right: 0;
      width: 25px;
      height: 25px;
      border-radius: 4px;
      //@include icon-sprite(set);
      background: #ef9a16 url(../img/icon/set.png) 50% no-repeat;
      background-size: 70%;
        a{
          height: 18px;
          display: block;}
    }
    .head-shop-tt{
      margin-top: 18px;
      font-size: 1.6em;
      color: #ffffff;
    }
    .shop-level{
      margin-top: 12px;
      width: 82px;
      height: 22px;
      line-height: 22px;
      background: #f7774a;
      border-radius: 4px;
      overflow: hidden;
        .wz{
          padding-left: 8px;
          color: #ffffff;
          float: left;
        }
        .img{
          margin: 2px 5px 0 5px;
          float: left;
          width: 16px;
          overflow: hidden;
        }
    }
    .message{
      position: absolute;
      top: 45px;
      right: 0;
      width: 25px;
      height: 25px;
      border-radius: 4px;
      background: #ef9a16 url(../img/icon/msg.png) 50% no-repeat;
      background-size: 70%;
      overflow: hidden;
    }
    .number{
      position: absolute;
      top: 36px;
      right: 0;
      padding: 1px;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      background: #f7774a;
      border-radius: 50%;
      font-size: 6px;
      color: #ffffff;
    }
}
.pic-wrap{
  margin: 12px auto;
  width: 66px;
  height: 66px;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.income{
  height: 52px;
  background: #f8b650;
}
.income-list{
  overflow: hidden;
    li {
      margin-top: 7px;
      float: left;
      width: 32.34375%;
      //height: 38px;
      color: #ffffff;
      text-align: center;
        &:nth-of-type(1){
          border-right: 1px solid #f9c573;
        }
        &:nth-of-type(2){
          border-left: 1px solid #eca940;
          border-right: 1px solid #f9c573;
        }
        &:nth-of-type(3){
          border-left: 1px solid #eca940;
        }
        em{
          font-size: 1.5em;
          font-weight: bold;
          display: block;
          text-shadow: 1px 1px 2px #dca147;
        }
        i{
          font-size: 1em;
          display: block;
        }
    }
    .income-list-mid{
      width: 33.90625%;}
}
.function-wrap{
  padding-top: 16px;
  @extend %wrap;
}
.function-item{
  padding-bottom: 18px;
  margin: 0 auto;
  width: 93.75%;
  overflow: hidden;
  li {
        padding: 14px 0;
        float: left;
        width: 33%;
        border-right: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        &:nth-of-type(3),
        &:nth-of-type(6){
          border-right: 0 none;
        }
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6){
      border-bottom: 0 none;
    }
          &:nth-of-type(1) .function-item-logo{
            background: #f77171 url(../img/icon/item1.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(2) .function-item-logo{
            background: #92cf68 url(../img/icon/item2.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(3) .function-item-logo{
            background: #ffc13d url(../img/icon/item3.png) 55% center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(4) .function-item-logo{
            background: #02b8cd url(../img/icon/item4.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(5) .function-item-logo{
            background: #b88feb url(../img/icon/item5.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(6) .function-item-logo{
            background: #eee url(../img/icon/item2.png) center center no-repeat;
            background-size: 50%;
          }
    }
    h3{
      margin-top: 6px;
      font-size: 1.2em;
      text-align: center;
    }
    .number{
      position: absolute;
      top: -9px;
      right: -2px;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      background: #f7774a;
      border-radius: 50%;
      font-size: 1em;
      color: #ffffff;
    }
}
.function-item-logo{
  position: relative;
  margin: 0 auto;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.foot{
  position: relative;
  margin: 0 auto;
  width: 93.75%;
  height: 36px;
  line-height: 36px;
  font-size: 1em;
  text-align: center;
  color: #dfdfdf;
  border-top: 1px solid #f6f6f6;

}

@media screen and (min-width: 768px) {
  .head,
  .head-left,
  .head-right{
    height: 230px;
  }
  .pic-wrap{
    margin: 30px auto;
    width: 158px;
    height: 158px;
    border: 6px solid #fff;
    border-radius: 50%;
  }
  .head-right {
      .head-shop-tt{
        margin-top: 60px;
        font-size: 3.4em;
        color: #ffffff;
      }
      .shop-level{
        width: 195px;
        height: 52px;
        line-height: 52px;
          .wz{
            padding-left: 14px;
            font-size: 2.6em;
          }
          .img{
            margin: 8px 27px 0 12px;
            width: auto;
          }
      }
      .head-right-set{
        top: 35px;
        width: 60px;
        height: 60px;
      }
      .message{
        top: 112px;
        width: 60px;
        height: 60px;
      }
      .number{
        top: 100px;
        width: 24px;
        height: 24px;
        line-height: 24px;
      }
  }
  .income{
    height: 126px;
  }
  .income-list{
    li{
      margin-top: 20px;
        em{
          font-size: 3em;
        }
        i{
          font-size: 2.2em;
        }
    }
  }
  .function-item{
    .number{
      width: 64px;
      height: 64px;
      line-height: 64px;
      font-size: 2.2em;
    }
    h3{
      font-size: 2.6em;}
    li{
        &:nth-of-type(1) .function-item-logo{
          background: #f77171 url(../img/icon/item1.png) center center no-repeat;
          background-size: auto;
        }
        &:nth-of-type(2) .function-item-logo{
          background: #92cf68 url(../img/icon/item2.png) center center no-repeat;
          background-size: auto;
        }
        &:nth-of-type(3) .function-item-logo{
          background: #ffc13d url(../img/icon/item3.png) 55% center no-repeat;
          background-size: auto;
        }
        &:nth-of-type(4) .function-item-logo{
          background: #02b8cd url(../img/icon/item4.png) center center no-repeat;
          background-size: auto;
        }
        &:nth-of-type(5) .function-item-logo{
          background: #b88feb url(../img/icon/item5.png) center center no-repeat;
          background-size: auto;
        }
        &:nth-of-type(6) .function-item-logo{
          background: #eee url(../img/icon/item2.png) center center no-repeat;
          background-size: auto;
        }
    }

  }
  .function-item-logo{
    width: 156px;
    height: 156px;
  }
  .foot{
    font-size: 2em;
  }
}


/*management-team.html*/
.management-team-wrap{
  @extend %full-height;
}
.management-team-item {
  margin: 20px auto;
  @extend %show-wrap;
  @include item-wrap-mod(#fff,$bd-color-f3);
}

.team-item-tt{
  margin: 0 auto;
  width: 84%;
  height: 34px;
  line-height: 34px;
  font-size: 1.4em;
  color: $font-color-333;
  border-bottom: 1px solid $bd-color-f3;
}
.team-item-data{
  margin: 7px auto;
  overflow: hidden;
    h2{
      padding-left: 8%;
      margin-top: 5px;
      font-size: 1.2em;
      color: $font-color-666;
    }
    p {
      margin: 6px 0 5px;
      padding-left: 8%;
      height: 20px;
      line-height: 20px;
      font-size: 1em;
      color: $font-normal-999;
      overflow: hidden;
    }
    span {
      float: left;
      padding-left: 7px;
      font-size: 1.4em;
      font-weight: bold;
    }
    em{
      float: left;}
}
.team-item-data-left{
  width: 49.6%;
  float: left;
  border-right: 1px solid $bd-color-f3;
  h2 {
    padding-left: 17%;
  }
  p {
    padding-left: 17%;
  }
}
.team-item-data-right {
  width: 50%;
  float: right;
}
/*font-color */
.font-yellow{
  color: #f6a424;}
.font-green{
  color: #56952b;}

@media screen and (min-width: 768px){
  .team-item-tt{
    height: 68px;
    line-height: 68px;
    font-size: 2.6em;
  }
  .team-item-data{
    h2{
      font-size: 2em;
    }
    p{
      height: 40px;
      line-height: 40px;
      font-size: 2em;
    }
    span{
      padding-left: 20px;}
  }
}

/*management-show.html*/
.management-show-wrap{
  @extend %full-height;
}
.management-head{
  background: #ffffff;
    .head-shop-tt {
      overflow: hidden;
      color: $font-normal-999;
        em{
          float: left;}
    }
    .shop-level {
      padding: 0 3px;
      margin-top: 0;
      margin-left: 9px;
      float: left;
      width: auto;
    }
    .class {
      margin-top: 8px;
      color: $font-normal-999;
      font-size: 1.6em;
    }
}
.management-con{
  padding: 8px 0;
  @extend %item-wrap-mod;
  background: #ffffff;
}
.mod-line{
  height: 11px;
  @include item-wrap-mod(#f6f7f7, #fff);
}
.management-list{
  margin: 0 auto;
  @extend %show-wrap;
    li{
      height: 32px;
      line-height: 32px;
      font-size: 1em;
      color: $font-color-666;
      border-bottom: 1px solid $bd-color-f3;
        em {
          float: left;
        }
        i{
          float: right;}

    }
}

@media screen and (min-width: 768px){
  .management-head{
    .pic-wrap{
      border-width: 3px;
      box-shadow: 1px 2px 3px #bebebe;
    }
    .class{
      font-size: 2em;
    }
    .head-right .shop-level .img{
      margin: 0;
      padding: 0 6px;
    }
    .head-right .shop-level{
      margin-top: 12px;
      padding: 4px 6px;
      height: 24px;
      line-height: 24px;
    }
  }
  .management-con{
    padding: 15px 0;}
  .management-list {
    li {
      height: 64px;
      line-height: 64px;
      font-size: 2em;
    }
  }
  .mod-line{
    height: 21px;}
}

/*management-my.html*/
.management-my-wrap{
  @extend %full-height;
}
.my-wrap-item{
  .wenhao {
    margin: 9px 6px 0 0;
    float: right;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    background: #f7774a;
    border-radius: 50%;
  }
   .team-item-data-left{
      h2{
        padding-left: 22%;
      }
      p{
        padding-left: 26%;
      }
  }
   .team-item-data-right{
     h2{
       padding-left: 18%;
     }
     p{
       padding-left: 22%;
     }
   }
}
.management-my-btns{
  margin: 12px auto;
  @extend %show-wrap;
    .left-btn,
    .right-btn{
      width: 45%;
      height: 30px;
      border: 0 none;
      border-radius: 4px;
      font-size: 1.2em;
      font-weight: bold;
      color: #ffffff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      font-family: "Microsoft Yahei";
    }
    .left-btn{
      float: left;
      background: #dd2f2f;
    }
    .right-btn{
      float: right;
      background: #f6a424;
    }
}
.my-team-tt {
  margin: 0 auto;
  @extend %show-wrap;
  height: 30px;
  line-height: 30px;
  font-size: 1.2em;
  color: $font-color-666;
}
.my-team-list{
  margin: 0 auto;
  @extend %show-wrap;
  position: relative;
  background: #fff;
  &:before{
    content: "";
    position: absolute;
    top: 1px;
    width: 100%;
    height: 1px;
    background: $bd-color-f3;
  }
    li{
      margin: 0 10px;
      height: 58px;
      border-bottom: 1px solid $bd-color-f3;
      overflow: hidden;
    }
    p{
      margin-top: 8px;
      overflow: hidden;
    }
    .mgt4{
      margin-top: 4px;
    }
    span{
      float: left;
    }
}
.my-team-list-pic{
  float: left;
  margin-top: 6px;
  margin-right: 22px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 1px 2px 2px #bebebe;
  overflow: hidden;
}
.level-icon{
  padding-left: 8px;
  margin-top: 1px;
  width: 17px;
  height: 12px;
  display: inline-block;
}
.add-more{
  margin: 0 auto;
  @extend %show-wrap;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #ffffff;
    span{
      width: 40px;
      height: 10px;
      display: inline-block;
    }
}
.team-list-right-btn{
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 1.4em;
}
@media screen and ( min-width: 768px){
  .my-wrap-item .wenhao{
    margin-top: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
  }
  .my-team-list{
    li{
      height: 116px;
        p{
          margin-top: 20px;
          height: 36px;
          font-size: 2em;
        }
    }
  }
  .my-team-list-pic{
    margin-top: 14px;
    width: 84px;
    height: 84px;
  }
  .level-icon{
    width: 34px;
    height: 24px;
  }
  .my-wrap-item {
    .team-item-data-left{
      h2,p{
        padding-left: 0;
        text-align: center;}
      p{
        span{
          float: none;
          display: block;
          text-align: center;}
      }
    }
    .team-item-data-right{
      h2,p {
        padding-left: 0;
        text-align: center;
      }
      p{
        span{
          float: none;
          display: block;
          text-align: center;}
      }

    }
  }
  .management-my-btns{
    .left-btn,
    .right-btn{
      height: 60px;
      font-size: 2.2em;
      font-family: "Microsoft Yahei";
    }
  }
  .team-list-right-btn{
    top: 34px;
    font-size: 3.6em;}
}
