/** 
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/10/11 
 * Time: 10:13 
 * To change this template use File | Settings | File Templates. 
 */

@charset "utf-8";
/*$icon-spacing:20px;
@import "icon*//*.png";*/
$font-normal:#888;
$bg-normal:#fff;
* {
  margin: 0;
  padding: 0;
}
%wrap{
  width: 100%;
  overflow: hidden;
}
html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  color: $font-normal;
  height: 100%;
  background: $bg-normal;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $font-normal;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}

.box-wrap{
  @extend %wrap;
}
.head{
  height: 95px;
  background: #f6a424;
  overflow: hidden;
}
.head-left{
  float: left;
  width: 30%;
  height: 95px;
}
.head-right{
  position: relative;
  float: right;
  width: 70%;
  height: 95px;
    .head-right-set{
      position: absolute;
      top: 9px;
      right: 9px;
      width: 18px;
      height: 18px;
      //@include icon-sprite(set);
      background: url(../img/icon/set.png) 0 0 no-repeat;
      background-size: 100%;
        a{
          height: 18px;
          display: block;}
    }
    .head-shop-tt{
      margin-top: 18px;
      font-size: 1.6em;
      color: #ffffff;
    }
    .shop-level{
      margin-top: 12px;
      width: 82px;
      height: 22px;
      line-height: 22px;
      background: #f7774a;
      border-radius: 8px;
      overflow: hidden;
        .wz{
          padding-left: 5px;
          color: #ffffff;
          float: left;
        }
        .img{
          margin: 2px 5px 0 5px;
          float: left;
          width: 16px;
          overflow: hidden;
        }
    }
}
.pic-wrap{
  margin: 12px auto;
  width: 66px;
  height: 66px;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.income{
  height: 52px;
  background: #f8b650;
}
.income-list{
  overflow: hidden;
    li {
      margin-top: 7px;
      float: left;
      width: 32.34375%;
      height: 38px;
      color: #ffffff;
      text-align: center;
        &:nth-of-type(1){
          border-right: 1px solid #f9c573;
        }
        &:nth-of-type(2){
          border-left: 1px solid #eca940;
          border-right: 1px solid #f9c573;
        }
        &:nth-of-type(3){
          border-left: 1px solid #eca940;
        }
        em{
          font-size: 1.5em;
          font-weight: bold;
          display: block;
          text-shadow: 1px 1px 2px #dca147;
        }
        i{
          font-size: 1em;
          display: block;
        }
    }
    .income-list-mid{
      width: 33.90625%;}
}
.function-wrap{
  padding-top: 34px;
  @extend %wrap;
}
.function-item{
  padding-bottom: 34px;
  margin: 0 auto;
  width: 93.75%;
  overflow: hidden;
  li {

        float: left;
        width: 33%;
        height: 110px;
        border-right: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
          &:nth-of-type(1) .function-item-logo{
            background: #f77171 url(../img/icon/item1.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(2) .function-item-logo{
            background: #92cf68 url(../img/icon/item2.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(3) .function-item-logo{
            background: #ffc13d url(../img/icon/item3.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(4) .function-item-logo{
            background: #02b8cd url(../img/icon/item4.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(5) .function-item-logo{
            background: #b88feb url(../img/icon/item2.png) center center no-repeat;
            background-size: 50%;
          }
          &:nth-of-type(6) .function-item-logo{
            background: #f976d3 url(../img/icon/item5.png) center center no-repeat;
            background-size: 50%;
          }
    }
    h3{
      margin-top: 6px;
      font-size: 1.2em;
      text-align: center;
    }
    .number{
      position: absolute;
      top: -9px;
      right: -2px;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      background: #f7774a;
      border-radius: 50%;
      font-size: 1em;
      color: #ffffff;
    }
}
.function-item-logo{
  position: relative;
  margin: 13px auto 0 auto;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.foot{
  position: relative;
  margin: 0 auto;
  width: 93.75%;
  height: 36px;
  line-height: 36px;
  font-size: 1em;
  text-align: center;
  color: #dfdfdf;
  border-top: 1px solid #f6f6f6;
    .message{
      margin-top: 10px;
      float: left;
      width: 16px;
      height: 15px;
      background: url(../img/icon/msg.png) 0 0 no-repeat;
      background-size: 100%;
      overflow: hidden;
    }
    .number{
      position: absolute;
      top: 0;
      left: 12px;
      padding: 1px;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      background: #f7774a;
      border-radius: 50%;
      font-size: 6px;
      color: #ffffff;
    }
}